@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


:root {
    --fuentemain: 'Ubuntu', sans-serif;
    --fuentesecond: 'Poppins', sans-serif;
}
    body{
        font-family: var(--fuentesecond);
        font-size: 1rem;
        display: grid;
        place-content: center;
        background-image: url(https://images.pexels.com/photos/1484516/pexels-photo-1484516.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        color: #fff;
        background-size: cover;
        background-attachment: fixed;;
        font-weight: 300;
      
    }

    .title{

        padding-top: 20px;
        text-align: center;
        color: #ffc420;
        margin: 30px;
        
    }
   
    form{
        width: 60vw;
        height: 90vh;
        margin: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        display: grid;
        place-content: center;
        vertical-align: center;
        
    }

    label {

        display: inline;
        padding: 12px;
        word-spacing: 30px;
    }

    input, select{
        padding: 10px;
        font-size: 1rem;
        border: none;
        border-radius: 5px;
    }


    button{
        margin: 50px;
        height: 40px;
        border-radius: 5px;
        font-size: 1.2rem;
        color: white;
        background: linear-gradient(45deg, black, #ffc420);
        border: none;
        width: 200px;
        margin-left: 130px;
        
    }

